---
const { href, text } = Astro.props;
---

<a href={href}>
	{text}
</a>

<style>
	a {
		text-align: center;
		backdrop-filter: blur(100px);
		padding: 1rem;
		color: var(--fcb-light-gold);
		background-color: var(--lighter-blue);
		text-decoration: none;
		box-shadow: 3px 3px 10px -4px #000000;
		border-radius: 1rem;

		margin: 1rem auto;
		display: block;
		width: fit-content;

		&:active {
			background-color: var(--dark-blue);
			box-shadow: inset 3px 3px 10px -4px #000000;
		}
	}
</style>
