---
const { href, text } = Astro.props;
---

<a href={href}>
	{text}
</a>

<style>
	a {
		text-align: center;
		backdrop-filter: blur(100px);
		padding: 1rem;
		color: var(--light-text);
		/* color: black; */
		background-color: var(--bg-index);
		text-decoration: none;
		border: 1px solid var(--bg-index);
		border-radius: 1rem;
	}
</style>
