---
const { gameTemp, kit_image, weather_des } = Astro.props;
---

<section class="weather-info">
	<div class="weather-block">
		<div>
			<h3>Where wil you watch?</h3>
			<div class="radio">
				<input type="radio" value="live" name="where" id="live" checked />
				<label for="live">Live</label>
				<input type="radio" value="home" name="where" id="home" />
				<label for="home">Home</label>
			</div>

			<h3>Weather:</h3>
			<p class="temperature">{gameTemp}<span>°C</span></p>
			<p class="descrip">{weather_des}</p>
		</div>
		<img src={`/img/kit-${kit_image}.png`} alt="" class="kit-img" />
	</div>
</section>

<style>
	p,
	h2,
	h3 {
		text-align: center;
	}

	.weather-info {
		margin-top: 2rem;
	}

	.weather-block {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > div {
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 0.5rem;
			color: var(--light-text);

			p:nth-of-type(1) {
				font-family: "transducer-condensed", sans-serif;
				font-size: 5rem;
				span {
					font-size: 1rem;
				}
			}
		}
		img {
			width: 15rem;
		}
	}

	.radio {
		display: inline-flex;
		overflow: hidden;
		border-radius: 1rem;
		box-shadow: 0 0 5px rgba(0 0 0 / 0.25);

		input {
			display: none;
		}
		label {
			padding: 0.5rem;
			cursor: pointer;
			background-color: var(--fcb-light-gold);

			&:checked {
				background-color: var(--fcb-gold);
			}
		}
	}
</style>
