@import url("https://use.typekit.net/wrc2ogl.css");

:root {
    --bg-index: #2C2A264D;
    --fcb-red: #a50044;
}

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: "brando-sans", sans-serif;
    font-size: 16px;
}
