@import url("https://use.typekit.net/wrc2ogl.css");

:root {
	--bg-index: #2c2a264d;
	--fcb-red: #a50044;
	--light-text: #f6f4ed;
	--fcb-gold: #edbb00;
	--fcb-light-gold: #ffd43a;
	--fcb-blue: #004d98;
	--dark-blue: #1d265f;
	--lighter-blue: #2b388c;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "brando-sans", sans-serif;
	font-size: 16px;
}
