--- 
const { title } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href="../../public/styles/global.css">
  </head>

  <body>
    <main>
      <h1>{title}</h1>
      <slot />
      <!-- your content is injected here -->
    </main>
  </body>
</html>

<style>
    /* https://css-tricks.com/perfect-full-page-background-image/ */
    html {
        background: url('../assets/campnou.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    main {
		/* voor midden: */
		/* margin: auto;
		width: 60vw; */
		margin: .5rem;
    padding: 1rem;
		width: 40vw;
		max-width: 550px;
		height: 100%;
		background-color: var(--bg-index);
		backdrop-filter: blur(10px);
		border-radius: 10px;

	  }

    h1 {
      font-family: 'transducer-condensed', sans-serif;
      font-size: 3rem;
      text-align: center;
    }

</style>